<div class="container mt-2">
  <div class="card" *ngIf="clients">
    <div class="card-header">
      Clients
    </div>
    <div class="card-body">
      <div *ngIf="searchformGroup">
        {{ searchformGroup.value |json }}
        <form [formGroup]="searchformGroup" (ngSubmit)="handleSearchClients()">
          <div class="input-group mb-2">
            <label class="me-2">Keyword :</label>
            <input type="text" formControlName="motcle" class="form-control">
            <button class="btn btn-info ms-2" type="submit">Submit</button>
          </div>
        </form>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th><th>Name</th><th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of clients">
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
